
.hackintosh {
    align-items: center;
    justify-content: center;
    display: flex;
}

.hack {
    background-color: $backgroundColor;
    margin-top: 210px;
    margin-bottom: 150px;
    margin-left: 150px;
    width: 1200px;
    height: 450px;
    border-radius: 13px;
    box-shadow: -6px 9px 29px rgba(131, 127, 177, 0.3);
}

// Grids
[class*="grid-3"] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  float: left;
  padding: 0 $grid-gutter;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 0%;
  pointer-events: none;
}

[class*="grid-"] {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


[class*="grid-8"] {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  flex-wrap: wrap;
  font-family: $fontFamilyRoboto;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}
[class*="grid-9"] {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  padding: 0 $grid-gutter;
  margin-top: 21px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  font-family: $fontFamilyAbhaya;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

.skillsButton {
    display: flex;
    height: 27px;
    width: 36%;
}

.stylesButton {
  display: inline-block;
  padding: 0.338em 1.275em;
  border: 0.094em solid $primaryColor;
  background-color: $primaryColor;
  color: $backgroundColor;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 36px;
  border-radius: 6px;
  box-shadow: (-3px 4px 12px rgba(141, 90, 159, 0.45));
}

button:hover{
  background-color: $fadeColor;
  transform: translateY(-3px) scale(1.05);
  transition-duration: 0.3s;
  box-shadow: (-3px 4px 6px rgba(141, 90, 159, 0));
}

.user-photo {
  width: 9vw;
  height: 9vw;
  min-width: 10vh;
  min-height: 10vh;
  border-radius: 50%;
  box-shadow: -6px 6px 15px 9px #837fb11e;
  align-items: flex-start;
  margin-right: 10px;
}

.actionMac {
  display: flex;
  height: 60px;
  width: 7%;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  margin-left: 3px;

  .dot {
    flex-direction: row;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: (2px 2px 4px rgba(0, 0, 0, 0.11));
  }
  .red {
    @extend.dot;
    background-color: $dotRed;
  }
  .yellow {
    @extend.dot;
    background-color: $dotYello;
  }
  .green {
    @extend.dot;
    background-color: $dotGreen;
  }
}

.hackinLine {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    .decoration {
    width: 80%;
    height: 2px;
    background-color: $greyColor;
    }
}

.fullBar {
    display: flex;
    width: 100%;
    height: 9px;
    flex-direction: row;

    .barConfig {
        width: 16.6666666667%;
        height: 100%;
    }
    .barG {
        @extend.barConfig;
        background-color: $barG;       
    }
    .barY {
        @extend.barConfig;
        background-color: $barY;
    }
    .barO {
        @extend.barConfig;
        background-color: $barO;
    }
    .barR {
        @extend.barConfig;
        background-color: $barR;
    }
    .barP {
        @extend.barConfig;
        background-color: $barP;
    }
    .barB {
        @extend.barConfig;
        background-color: $barB;
    }
}