h1 {
  font-family: $fontFamilyRoboto, sans-serif;
  font-style: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 210px;
  color: white;
  font-size: 42px;
}

h3 {
  font-family: $fontFamilyRoboto;
  font-style: italic;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 36px;
  color: white;
  font-size: 24px;
}

p {
  font-family: $fontFamilyRoboto;
  font-style: italic;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 60%;
  color: $backgroundColor;
  font-size: 21px;
  line-height: 36px;
}

.icons {
  justify-content: center;
  align-items: center;
  width: 100%;

  .iconsDiv {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 42px;
    color: $backgroundColor;
    font-size: 24px;
    padding-left: 36%;
    padding-right: 36%;
  }
}

.iconsAbout {
  width: 100%;
  display: flex;
  padding: 3%;
  cursor: default;

  .iconsAboutDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 42px;
    color: $backgroundColor;
    font-size: 72px;
    margin-left: 9%;
    padding-right: 9%;

    :hover {
      transform: translateY(-3px) scale(1.05);
      transition-duration: 0.3s;
      box-shadow: (-3px 4px 6px rgba(141, 90, 159, 0));
    }
  }
}

.jupiter {
  height: 2100px;
  width: 100%;
  background-color: $jupiterBackground;
  box-shadow: 3px 3px 3px 3px $gradienPrimarytColor;

  .jupiterBack {
    align-items: center;
    justify-content: center;
  }

  .jupiterMouseSpace {
    display: flex;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
  }

  .jupiterWindows {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
  }
  .jupiterWindowsScreen {
    width: 1200px;
    height: 630px;
    border: 1px solid $backgroundColor;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 30px;
  }
  .jupiterAboutMe {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .jupiterAboutJunior {
    display: flex;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 81%;
  }
  .jupiterJunior {
    margin: 30px;
    padding: 60px;
  }
  .jupiterJuniorText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.codeDiv {
  width: 100%;
  display: flex;
  height: 180px;
  justify-content: center;
  align-items: center;

  .codeGroup {
    width: 70%;
    display: flex;
    justify-content: center;
    height: 30px;
    cursor: default;
    border-style: dashed;
    padding: 90px;
    border: 1px solid $primaryColor;
    border-radius: 30px;

    :hover {
      text-decoration: none;
      transform: translateX(9px) scaleX(1.05);
      transition-duration: 0.3s;
    }
  }

  .codeJs {
    background-color: $colorJavascript;
    width: 27%;
    height: 6px;
    flex-direction: column-reverse;
    border-radius: 9px 0px 0px 9px;
    display: flex;
    text-align: start;
    :hover {
      color: $backgroundColor;
      transition-duration: 0.3s;
    }
  }
  .codeReact {
    @extend.codeJs;
    background-color: $colorReactJS;
    width: 21%;
    height: 6px;
  }
  .codeSass {
    @extend.codeJs;
    background-color: $colorSass;
    width: 15%;
    height: 6px;
  }
  .codeNext {
    @extend.codeJs;
    background-color: $colorNextjs;
    width: 10%;
    height: 6px;
  }
  .codeSupabase {
    @extend.codeJs;
    background-color: $colorSupabase;
    width: 10%;
    height: 6px;
    border-radius: 0px 9px 9px 0px;
  }
}
