h1 {
  font-family: $fontFamilyRoboto;
  font-style: italic;
  display: flex; 
  text-align:center; 
  justify-content: center; 
  padding-top: 210px; 
  color: white; 
  font-size: 63px;
}

h3 {
  font-family: $fontFamilyRoboto;
  font-style: italic;
  display: flex; 
  text-align:center; 
  justify-content: center; 
  padding-top: 36px; 
  color: white; 
  font-size: 24px;
}

p {
  font-family: $fontFamilyRoboto;
  font-style: italic;
  display: flex;
  text-align:center;
  justify-content: center;
  padding: 210px; 
  color: $backgroundColor;
  font-size: 27px;
  line-height: 63px;
}

.jupiter {
  height: 2400px;
  width: 100%;
  background-color: #716da1;
  box-shadow: 3px 3px 3px 3px $gradienPrimarytColor;

  .jupiterBack {
    align-items: center;
    justify-content: center;
  }

  .jupiterMouseSpace {
    display: flex;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
  }

  .jupiterWindows {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 180px;
  }
  .jupiterWindowsScreen {
    width: 1200px;
    height: 630px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 30px;
  }
}
