.projectsDiv {
    height:450px;
    width: 100%;
    background-color: $codeBackground;
    padding: 3%;
}

.projectsTitle {
    color: $backgroundColor;
    font-family: $fontFamilyRoboto, sans-serif;
    font-style: bold;
    text-align: center;
    font-size: 21px;
    width: 100%;
}

.projectsList {
    display: flex;
    justify-content: space;
    width: 100%;
}

.projectsHackintosh {
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: space-around;

    :hover{ 
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

// .projectsHackintosh {
//     width: 33.3333333333%; 
//     align-items: center; 

//     :hover{ 
//         transition-duration: 0.3s;
//         cursor: pointer;
//     }
// }

.projectsPacman {
    width: 33.3333333333%; 
    align-items: center; 

    :hover{ 
        transition-duration: 0.3s;
        cursor: pointer;
    }
}

.projectsbadCode {
    width: 33.3333333333%; 
    align-items: center; 

    :hover{ 
        transition-duration: 0.3s;
        cursor: pointer;
    }
}