$primaryColor: #837FB1;
$backgroundColor: #FFF;
$bodyColor: #FAFAFA;
$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 1280px;

* {
  justify-content: center;
}

[class*="body"] {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

[class*="container"] {
    
  height: 200px; 
  width: 90vw;
  align-items: center;
  background-color: $backgroundColor;
  box-shadow: 3px 3px 3px 3px #f6f6ff;
}

// Grids
[class*="grid-3"] {
  background: #FAFAFA;
  outline: 1px solid gray;
  float: left;
  padding: 0 $grid-gutter;
  flex-wrap: wrap;
  height: 100%;
}

// [class*="grid-1"] {
//   background: lightgray;
//   outline: 1px solid gray;
//   float: left;
//   padding: 0 $grid-gutter;
//   margin-bottom: 20px;
//   flex-wrap: wrap;
//   height: 100px;
// }

[class*="grid-"] {
  background: $primaryColor;
  outline: 1px solid gray;
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

[class*="skillsButton"] {
  background: #FAFAFA;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}