$primaryColor: #837fb1;
$backgroundColor: #fff;
$bodyColor: #fafafa;
$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 1280px;

* {
  justify-content: center;
}

[class*="body"] {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  height: 100%;
}

[class*="container"] {
  padding: 30px;
  height: 240px;
  width: 90vw;
  max-width: 80vw;
  align-items: center;
  background-color: $backgroundColor;
  box-shadow: 3px 3px 3px 3px #f6f6ff;
}

// Grids
[class*="grid-3"] {
  background: #fafafa;
  float: left;
  padding: 0 $grid-gutter;
  flex-wrap: wrap;
  height: 100%;
}

// [class*="grid-1"] {
//   background: lightgray;
//   outline: 1px solid gray;
//   float: left;
//   padding: 0 $grid-gutter;
//   margin-bottom: 20px;
//   flex-wrap: wrap;
//   height: 100px;
// }

[class*="grid-"] {
  background: $backgroundColor;
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

[class*="skillsButton"] {
  background: $backgroundColor;
  width: 100%;
}

.stylesButton {
  display: inline-block;
  padding: 0.338em 1.275em;
  border: 0.094em solid $primaryColor;
  background-color: $primaryColor;
  color: $backgroundColor;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 21px;
}
