::-moz-selection {
  color: #020101;
  background: #eee67d;
}

::selection {
  color: #020101;
  background: #eee67d;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.spacer {
  height: 60px;
}

.flex, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: #fafafa;
  width: 100%;
}

body .container {
  vertical-align: baseline;
  -webkit-box-shadow: 3px 3px 3px 3px #837fb1;
          box-shadow: 3px 3px 3px 3px #837fb1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #837fb1;
}

h1 {
  font-family: "Roboto", sans-serif, sans-serif;
  font-style: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 210px;
  color: white;
  font-size: 42px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
  color: white;
  font-size: 24px;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
  width: 60%;
  color: #fff;
  font-size: 21px;
  line-height: 36px;
}

.icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.icons .iconsDiv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 42px;
  color: #fff;
  font-size: 24px;
  padding-left: 36%;
  padding-right: 36%;
}

.iconsAbout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  cursor: default;
}

.iconsAbout .iconsAboutDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 42px;
  color: #fff;
  font-size: 72px;
  margin-left: 9%;
  padding-right: 9%;
}

.iconsAbout .iconsAboutDiv :hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
          box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
}

.jupiter {
  height: 2100px;
  width: 100%;
  background-color: #716da1;
  -webkit-box-shadow: 3px 3px 3px 3px linear-gradient(#8e61ac, #3d3875);
          box-shadow: 3px 3px 3px 3px linear-gradient(#8e61ac, #3d3875);
}

.jupiter .jupiterBack {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jupiter .jupiterMouseSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jupiter .jupiterWindows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 180px;
}

.jupiter .jupiterWindowsScreen {
  width: 1200px;
  height: 630px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px;
  border-radius: 30px;
}

.jupiter .jupiterAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jupiter .jupiterAboutJunior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 81%;
}

.jupiter .jupiterJunior {
  margin: 30px;
  padding: 60px;
}

.jupiter .jupiterJuniorText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.codeDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codeDiv .codeGroup {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  cursor: default;
  border-style: dashed;
  padding: 90px;
  border: 1px solid #837fb1;
  border-radius: 30px;
}

.codeDiv .codeGroup :hover {
  text-decoration: none;
  -webkit-transform: translateX(9px) scaleX(1.05);
          transform: translateX(9px) scaleX(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.codeDiv .codeJs, .codeDiv .codeReact, .codeDiv .codeSass, .codeDiv .codeNext, .codeDiv .codeSupabase {
  background-color: #FFE58B;
  width: 27%;
  height: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-radius: 9px 0px 0px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.codeDiv .codeJs :hover, .codeDiv .codeReact :hover, .codeDiv .codeSass :hover, .codeDiv .codeNext :hover, .codeDiv .codeSupabase :hover {
  color: #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.codeDiv .codeReact {
  background-color: #8DC8FF;
  width: 21%;
  height: 6px;
}

.codeDiv .codeSass {
  background-color: #FF559D;
  width: 15%;
  height: 6px;
}

.codeDiv .codeNext {
  background-color: #564765;
  width: 10%;
  height: 6px;
}

.codeDiv .codeSupabase {
  background-color: #8EE786;
  width: 10%;
  height: 6px;
  border-radius: 0px 9px 9px 0px;
}

.hackintosh {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hack {
  background-color: #fff;
  margin-bottom: 45px;
  width: 95%;
  height: 420px;
  border-radius: 13px;
  -webkit-box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
          box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
  margin: 27px;
}

[class*="grid-3"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  padding: 0 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-left: 0%;
  pointer-events: none;
}

[class*="grid-"] {
  float: left;
  padding: 0 1%;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*="grid-8"] {
  float: left;
  padding: 0 1%;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

[class*="grid-9"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 1%;
  margin-top: 21px;
  margin-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Abhaya Libre", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

.skillsButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
  width: 36%;
}

.stylesButton {
  display: inline-block;
  padding: 0.338em 1.275em;
  border: 0.094em solid #837fb1;
  background-color: #837fb1;
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 36px;
  border-radius: 6px;
  -webkit-box-shadow: -3px 4px 12px rgba(141, 90, 159, 0.45);
          box-shadow: -3px 4px 12px rgba(141, 90, 159, 0.45);
}

button:hover {
  background-color: #8e8abd;
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
          box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
}

.user-photo {
  width: 9vw;
  height: 9vw;
  min-width: 10vh;
  min-height: 10vh;
  border-radius: 50%;
  -webkit-box-shadow: -6px 6px 15px 9px #837fb11e;
          box-shadow: -6px 6px 15px 9px #837fb11e;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 10px;
}

.hackinLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.hackinLine .decoration {
  width: 80%;
  height: 2px;
  background-color: #C4C4C4;
}

.fullBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 9px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fullBar .barConfig, .fullBar .barG, .fullBar .barY, .fullBar .barO, .fullBar .barR, .fullBar .barP, .fullBar .barB {
  width: 16.6666666667%;
  height: 100%;
}

.fullBar .barG {
  background-color: #61BB46;
}

.fullBar .barY {
  background-color: #FDB827;
}

.fullBar .barO {
  background-color: #F5821F;
}

.fullBar .barR {
  background-color: #E03A3E;
}

.fullBar .barP {
  background-color: #963D97;
}

.fullBar .barB {
  background-color: #009DDC;
}

.actionMac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.actionMac .actionMacContainer {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 3px;
}

.actionMac .dot, .actionMac .red, .actionMac .yellow, .actionMac .green, .actionMac .actionMacRed .greenRed, .actionMacRed .actionMac .greenRed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.actionMac .red {
  background-color: #ff6c6c;
}

.actionMac .yellow {
  background-color: #fed174;
}

.actionMac .green {
  background-color: #8bdb93;
}

.h2 {
  text-align: center;
  font-size: 42px;
  width: 100%;
  padding: 63px;
}

.skills {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #716da1;
}

.skills .skillsContainer {
  width: 60%;
  height: 100%;
  margin: 240px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space;
      -ms-flex-pack: space;
          justify-content: space;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .skillsTitle {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  padding: 30px;
}

.code {
  width: 900px;
  height: 150px;
  background: #423c54;
  border-radius: 31px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 25%;
}

li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

li:last-child {
  margin-bottom: 0px;
}

.avatarJs {
  width: 40px;
  height: 40px;
  background-color: #FFE58B;
  border-radius: 20px;
}

.avatarSass {
  width: 40px;
  height: 40px;
  background-color: #FF559D;
  border-radius: 20px;
}

.row {
  width: 100%;
  height: 8px;
  background-color: #999;
  border-radius: 10px;
  margin-top: 12px;
}

.project {
  height: 600px;
  width: 100%;
  background-color: #423c54;
  -webkit-box-shadow: 3px 3px 3px 3px linear-gradient(#8e61ac, #3d3875);
          box-shadow: 3px 3px 3px 3px linear-gradient(#8e61ac, #3d3875);
}

.projectIcons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projectIcons .projectIconsDiv {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 42px;
  color: #fff;
  font-size: 24px;
  padding-left: 36%;
  padding-right: 36%;
}

.projectIconsAbout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  cursor: default;
}

.projectIconsAbout .projectIconsAboutDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 42px;
  color: #fff;
  font-size: 72px;
  margin-left: 9%;
  padding-right: 9%;
}

.projectIconsAbout .projectIconsAboutDiv :hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
          box-shadow: -3px 4px 6px rgba(141, 90, 159, 0);
}

.AppHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.cardBG {
  background-color: white;
  width: 100%;
  height: 240px;
  padding: 15px;
  border-radius: 18px;
  margin: 27px;
  -webkit-box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
          box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
}

:hover.cardBG {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rowShort {
  border-radius: 6px;
  width: 30%;
  height: 18px;
  background-color: lightgray;
  margin-top: 10px;
}

:hover.rowShort {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.rowMed {
  border-radius: 6px;
  width: 60%;
  height: 18px;
  background-color: lightgray;
  margin-top: 18px;
}

:hover.rowMed {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.row {
  border-radius: 6px;
  width: 90%;
  height: 18px;
  background-color: lightgray;
  margin-top: 18px;
}

:hover.row {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cardBGSmall {
  background-color: white;
  width: 36%;
  height: 240px;
  padding: 15px;
  border-radius: 18px;
  margin: 27px;
  -webkit-box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
          box-shadow: 4px 5px 21px rgba(43, 2, 59, 0.452);
}

:hover.cardBGSmall {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rowShortSmall {
  border-radius: 6px;
  width: 30%;
  height: 18px;
  background-color: lightgray;
  margin-top: 10px;
}

.rowMedSmall {
  border-radius: 6px;
  width: 60%;
  height: 18px;
  background-color: lightgray;
  margin-top: 18px;
}

.rowSmall {
  border-radius: 6px;
  width: 90%;
  height: 18px;
  background-color: lightgray;
  margin-top: 18px;
}

:hover.rowShortSmall {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

:hover.rowMedSmall {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

:hover.rowSmall {
  -webkit-transform: translateX(9px) scaleY(1.06);
          transform: translateX(9px) scaleY(1.06);
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.actionMacRed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.actionMacRed .actionMacContainerRed {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.actionMacRed .dotRed, .actionMacRed .redRed, .actionMacRed .yellowRed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.actionMacRed .redRed {
  background-color: #ff6c6c;
}

.actionMacRed .yellowRed {
  background-color: #fed174;
}

.actionMacRed .greenRed {
  background-color: #8bdb93;
}
/*# sourceMappingURL=App.css.map */